.statistic__list{
    list-style: none;
    /* display: flex; */
    flex-direction: column;
    padding: 0;
    width: 400px;
    margin:0 auto;
    

}
.statistic__item{
    display: flex;
    /* width: 250px; */
}
.statistic__name{
    width: 150px;
}
.statistic__value{
    font-weight: bold;
}